{% extends 'main/base.html' %}

{% block content %}

    <div class="main-information">
      <h1 class="author-bio"><strong><em>Сергей Александрович Есенин</em></strong></h1>
      <h3 class="author-bio"> Сергей Есенин не сразу нашел свое литературное кредо: он бросался из одного направления в другое. Сначала выступал в лаптях и рубахе с новокрестьянскими поэтами, затем, облачившись в пиджак и галстук, создавал с имажинистами новую литературу. В конце концов он отказался от всех школ и стал свободным художником, заявив: «Я не крестьянский поэт и не имажинист, я просто поэт».<img src="https://b1.culture.ru/c/278978.150x225.jpg" alt="Сергей Есенин" class="Author-pic" align="right"></li></h3>
    </div>
  <div class="poems">
    <ol type="1">
      <li><a href="/Есенин/EseninBM">Черный человек</a></li>
      <li><a href="/Есенин/ЯПоследнийПоэтДеревени">Я последний поэт деревни</a></li>
      <li><a href="">Хулиган</a></li>
      <li><a href="">До свиданья, друг мой, до свиданья</a></li>
    </ol>
    </div>
    <ul class="main-gallery">
    </ul>

{% endblock %}